@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@400;600&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #0b0b0b;
  color: #ffffff;
}

/* COMIC HEADERS */
h1, h2, h3, .navbar-brand {
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
}

/* NAVBAR */
.navbar {
  background-color: #b11226 !important;
}

.nav-link {
  color: #fff !important;
  font-weight: 600;
}

.nav-link:hover {
  color: #ffd700 !important;
}

/* HERO TEXT */
.hero-text {
  text-shadow: 3px 3px 0 #000;
}

/* CARD = COMIC PANEL */
.card {
  background-color: #111;
  border: 3px solid #b11226;
  border-radius: 12px;
}

.card-title {
  color: #ff2e2e;
}

/* HERO SECTIONS */
.hero-full {
  min-height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  color: white;
}

.hero-phonk {
  background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
              url("../images/phonk-bg.jpg");
  background-size: cover;
  background-position: center;
}

.hero-place {
  height: 50vh;
  display: flex;
  align-items: center;
}

.japan {
  background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
              url("../images/japan-bg.jpg");
  background-size: cover;
  background-position: center;
}

.china {
  background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
              url("../images/china-bg.jpg");
  background-size: cover;
  background-position: center;
}
